In [7]:
#Mayor a menor
n1 = int(input('Ingresar número 1: '))
n2 = int(input('Ingresar número 2: '))
n3 = int(input('Ingresar número 3: '))
if n1>n2 and n1>n3:
  ord1 = n1
  if n2>n3:
    ord2 = n2
    ord3 = n3
  else:
    ord2 = n3
    ord3 = n2
elif n2>n1 and n2>n3:
  ord1 = n2
  if n1>n3:
    ord2 = n1
    ord3 = n3 
  else:
    ord2 = n3
    ord3 = n1
elif n3>n1 and n3>n2:
  ord1 = n3
  if n1>n2:
    ord2 = n1
    ord3 = n2
  else:
    ord2 = n2
    ord3 = n1
print(f'{ord1} - {ord2} - {ord3}')

Ingresar número 1: 4
Ingresar número 2: 5
Ingresar número 3: 6
6 - 5 - 4

In [12]:
#Mayor a menor
n1 = int(input('Ingresar número 1: '))
n2 = int(input('Ingresar número 2: '))
n3 = int(input('Ingresar número 3: '))
num_ord = []; num_ord.append(n1); num_ord.append(n2); num_ord.append(n3); num_ord.sort(reverse=True)
print(num_ord)

Ingresar número 1: 2
Ingresar número 2: 3
Ingresar número 3: 6
[6, 3, 2]

In [15]:
#Menor a mayor
n1 = int(input('Ingresar número 1: '))
n2 = int(input('Ingresar número 2: '))
n3 = int(input('Ingresar número 3: '))
if n1>n2 and n1>n3:
  ord3 = n1
  if n2>n3:
    ord2 = n2
    ord1 = n3
  else:
    ord2 = n3
    ord1 = n2
elif n2>n1 and n2>n3:
  ord3 = n2
  if n1>n3:
    ord2 = n1
    ord1 = n3 
  else:
    ord2 = n3
    ord1 = n1
elif n3>n1 and n3>n2:
  ord3 = n3
  if n1>n2:
    ord2 = n1
    ord1 = n2
  else:
    ord2 = n2
    ord1 = n1
print(f'{ord1} - {ord2} - {ord3}')

Ingresar número 1: 4
Ingresar número 2: 5
Ingresar número 3: 2
2 - 4 - 5

In [16]:
#Menor a mayor
n1 = int(input('Ingresar número 1: '))
n2 = int(input('Ingresar número 2: '))
n3 = int(input('Ingresar número 3: '))
num_ord = []; num_ord.append(n1); num_ord.append(n2); num_ord.append(n3); num_ord.sort()
print(num_ord)

Ingresar número 1: 4
Ingresar número 2: 6
Ingresar número 3: 2
[2, 4, 6]